.container {
    display: 'flex';
    flex: 1;
}


.aboutTempleDiv {
    display: flex;
    padding: 0;
    flex-direction: column;
    margin-bottom: 4vh;
    align-items: center;
}

.aboutTempleDiv .imageTextRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 12vw;
    padding-right: 12vw;
}

.aboutTempleDiv .imageText {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 12vw;
    padding-right: 12vw;
}

.aboutTempleDiv .imageTextRow img:first-child {
    width: 13vw;
    height: calc(13vw * 1.34);
    margin-right: 2vw;
}

.aboutTempleDiv .imageTextRow p img {
    width: 13vw;
    height: calc(13vw * 1.34);
    margin-left: 2vw;
    margin-right: 0 !important;
    float: right !important;
    margin-top: 1em;
}

.aboutTempleDiv .imageTextRow p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--black);
    font-size: 1.1vw;
    opacity: 0.9;
    line-height: 1.8vw;
}

.aboutTempleDiv .imageText p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--black);
    font-size: 1.1vw;
    opacity: 0.9;
    line-height: 1.8vw;
    margin-top: 10px;
}

@media (max-width: 1000px) {
    .aboutTempleDiv .imageTextRow {
        padding-left: 8vw;
        padding-right: 8vw;
    }
    
    .aboutTempleDiv .imageText {
        padding-left: 8vw;
        padding-right: 8vw;
    }
    .aboutTempleDiv .imageTextRow img:first-child {
        width: 16vw;
        height: calc(16vw * 1.34);
    }

    .aboutTempleDiv .imageTextRow img:last-child {
        width: 18vw;
        height: calc(18vw * 1.34);
    }

    .aboutTempleDiv .imageTextRow p {
        font-size: 1.6vw;
        line-height: 2vw;
    }
    
    .aboutTempleDiv .imageText p {
        font-size: 1.6vw;
        line-height: 2vw;
    }
}

@media (max-width: 650px) {
    .aboutTempleDiv .imageTextRow {
        padding-left: 6vw;
        padding-right: 6vw;
    }
    
    .aboutTempleDiv .imageText {
        padding-left: 6vw;
        padding-right: 6vw;
    }
    .aboutTempleDiv .imageTextRow img:first-child {
        width: 20vw;
        height: calc(20vw * 1.34);
    }

    .aboutTempleDiv .imageTextRow img:last-child {
        width: 28vw;
        height: calc(28vw * 1.34);
    }

    .aboutTempleDiv .imageTextRow p {
        font-size: 2.2vw;
        line-height: 2.8vw;
    }
    
    .aboutTempleDiv .imageText p {
        font-size: 2.2vw;
        line-height: 2.8vw;
    }
}