.container {
    display: 'flex';
    flex: 1;
}

.aboutUsContainer {
    display: flex;
    padding: 0;
    flex-direction: column;
    margin-bottom: 4vh;
    align-items: center;
}

.aboutUsContainer .aboutContent {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--dark-grey);
    font-size: 0.85vw;
    text-align: center;
    margin: 0 20vw 2vh 20vw;
}

@media (max-width: 1000px) {
    .aboutUsContainer .aboutContent {
        font-size: 1.75vw;
        margin: 0 15vw 2vh 15vw;
    }
}

@media (max-width: 650px) {
    .aboutUsContainer .aboutContent {
        font-size: 2.4vw;
        margin: 0 10vw 2vh 10vw;
    }
}