.container {
    display: 'flex';
    flex: 1;
}

.aboutUsContainer {
    display: flex;
    padding: 0;
    flex-direction: column;
    margin-bottom: 4vh;
    align-items: center;
}

.aboutUsContainer .aboutContent {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--dark-grey);
    font-size: 0.85vw;
    text-align: center;
    margin: 0 20vw 2vh 20vw;
}

.aboutUsContainer .propertyText {
    font-family: "Ibarra Real Nova", serif;
    font-weight: 400;
    color: var(--black);
    font-size: 1.2vw;
    opacity: 0.9;
}

.propertiesDiv a {
    color: var(--gold-orange);
    text-decoration: underline;
    font-size: 1.0vw;
    align-self: center;
    margin-top: 0.8vw;
}

.propertiesDiv a:hover {
    color: var(--gold-orange);
    text-decoration: underline;
    font-weight: 600;
}

.propertiesDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 2.5vw;
    padding-top: 1vw;
    width: 100vw;
    border-radius: 4px;
}

.propertiesDiv img {
    width: 18vw;
}

.propertiesDiv div {
    display: flex;
    flex-direction: column;
    margin-right: 2vw;
}

@media (max-width: 1000px) {
    .aboutUsContainer .aboutContent {
        font-size: 1.75vw;
        margin: 0 15vw 2vh 15vw;
    }
    .aboutUsContainer .propertyText {
        font-size: 2vw;
    }
    
    .propertiesDiv a {
        font-size: 1.65vw;
    }

    .propertiesDiv img {
        width: 28vw;
    }
}

@media (max-width: 650px) {
    .aboutUsContainer .aboutContent {
        font-size: 3vw;
        margin: 0 5vw 2vh 5vw;
        color: var(--black);
        opacity: 0.8;
    }
    .aboutUsContainer .propertyText {
        font-size: 3.6vw;
    }

    .propertiesDiv {
        flex-direction: column;
    }
    
    .propertiesDiv a {
        font-size: 3vw;
        margin-bottom: 3vw;
    }

    .propertiesDiv img {
        width: 60vw;
    }
}