.roomsContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1vh;
    padding-left: 10vw;
    padding-right: 10vw;
    flex-direction: column;
}

.timingContainer {
    flex-direction: row;
    display: inline-flex;
}

.timingDiv {
    flex-direction: row;
    align-items: center;
    display: flex;
}

.timingDiv:first-child {
    margin-right: 5vw;
}

.timingDiv img {
    width: 1.5vw;
    height: 1.5vw;
    margin-right: 10px;
}

.timingDiv span {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--dark-grey);
    font-size: 1.4vw;
    opacity: 0.9;
}

.roomSectionHeaderText {
    font-family: "Ibarra Real Nova", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7vw;
    color: var(--gold-orange);
    margin-top: 7vh;
}

.roomSection {
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.viewSection {
    position: absolute;
    right: 10vw;
    margin-top: 4vh;
}

.bottomViewSection {
    display: none;
}

.viewSection p {
    font-family: "Ibarra Real Nova", serif;
    font-weight: 300;
    color: var(--black);
    font-size: 1vw;
    text-decoration: underline;
    opacity: 0.95;
}

.roomCard {
    width: 20vw;
    margin-left: 0.8vw;
    margin-right: 0.8vw;
    background-color: var(--grey-bg) !important;
    border-radius: 8px !important;
    box-shadow: var(--grey) 0 4px 4px 0 !important;
    transition: 100ms;
}

.roomCard:hover {
    box-shadow: var(--grey) 0 2px 12px 2px !important;
    transform: scale(1.02, 1.02);
}

.roomCard img {
    width: 20vw;
    height: calc(20vw * 0.73);
}

.roomCardContainer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.roomCardCarousel {
    display: none
}

.bottomRoomCard {
    width: 20vw;
    height: calc(20vw * 0.73);
    padding: 12px;
}

.bottomRoomCard h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--black);
    font-size: 1.2vw;
    margin: 0 8px 0 0;
}

.bottomRoomCard h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: var(--gold-orange);
    font-size: 1.5vw;
    margin: 0;
}

.bottomRoomCard h4 span {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--dark-grey);
    font-size: 0.8vw;
    margin: 0;
}

.roomTextView {
    min-height: 4.2vw;
}

.bottomRoomCard .bottomIconView {
    flex-direction: row;
    align-items: center;
    display: flex;
    margin-top: 16px;
}

.bottomRoomCard .bottomIconView img {
    width: 1vw;
    height: 1vw;
    margin-right: 8px;
}

.bottomRoomCard .bottomIconView span {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9vw;
    color: var(--dark-grey);
    opacity: 0.95;
}

@media (max-width: 1000px) {
    .roomSectionHeaderText {
        font-family: "Ibarra Real Nova", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 2.5vw;
        color: var(--gold-orange);
        margin-top: 4vh;
    }

    .roomsContainer {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 0.1vh;
        padding-left: 10vw;
        padding-right: 10vw;
        flex-direction: column;
    }

    .timingDiv img {
        width: 2vw;
        height: 2vw;
        margin-right: 10px;
    }

    .timingDiv span {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: var(--dark-grey);
        font-size: 2vw;
        opacity: 0.9;
    }

    .roomCard {
        width: 25vw;
        margin-left: 1vw;
        margin-right: 1vw;
        background-color: var(--grey-bg) !important;
        border-radius: 8px !important;
        box-shadow: var(--grey) 0 4px 4px 0 !important;
    }

    .roomCard img {
        width: 25vw;
        height: calc(25vw * 0.73);
    }

    .bottomRoomCard {
        width: 25vw;
        height: calc(25vw * 0.73);
        padding: 8px;
    }

    .bottomRoomCard h3 {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: var(--black);
        font-size: 1.6vw;
        margin: 0 8px 0 0;
    }

    .bottomRoomCard h4 {
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        color: var(--gold-orange);
        font-size: 2vw;
        margin: 0;
    }

    .bottomRoomCard h4 span {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: var(--dark-grey);
        font-size: 1.2vw;
        margin: 0;
    }

    .bottomRoomCard .bottomIconView {
        flex-direction: row;
        align-items: center;
        display: flex;
        margin-top: 12px;
    }

    .bottomRoomCard .bottomIconView img {
        width: 1.5vw;
        height: 1.5vw;
        margin-right: 6px;
    }

    .bottomRoomCard .bottomIconView span {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 1.4vw;
        color: var(--dark-grey);
        opacity: 0.95;
    }

    .viewSection p {
        font-family: "Ibarra Real Nova", serif;
        font-weight: 300;
        color: var(--black);
        font-size: 1.5vw;
        text-decoration: underline;
        opacity: 0.95;
    }
}

@media (max-width: 650px) {
    .roomSectionHeaderText {
        font-family: "Ibarra Real Nova", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 4.5vw;
        color: var(--gold-orange);
        margin-top: 4vh;
    }

    .timingContainer {
        flex-direction: column;
        display: inline-flex;
        align-items: center;
    }

    .timingDiv img {
        width: 2.8vw;
        height: 2.8vw;
        margin-right: 10px;
    }

    .timingDiv span {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: var(--dark-grey);
        font-size: 3vw;
        opacity: 0.9;
    }

    .timingDiv:first-child {
        margin-right: 0vw;
        margin-bottom: 6px;
    }

    .viewSection {
        display: none;
    }

    .bottomViewSection {
        display: flex;
    }

    .bottomViewSection .navLink {
        flex-direction: row;
        display: flex;
        align-items: center;
    }

    .bottomViewSection p {
        font-family: "Ibarra Real Nova", serif;
        font-weight: 300;
        color: var(--black);
        font-size: 3vw;
        text-decoration: underline;
        opacity: 0.95;
        display: inline;
    }

    .bottomViewSection img {
        width: 3.5vw;
        height: 3.5vw;
        margin-left: 2px;
    }

    .roomCardContainer {
        display: none;
    }

    .roomCardCarousel {
        display: flex;
    }

    .scrollContainer {
        width: 100vw;
        display: flex;
        overflow-x: auto;
        padding-left: 6vw;
    }

    .roomCard {
        flex-shrink: 0;
        width: 60vw;
        margin-right: 4vw;
        background-color: var(--grey-bg) !important;
        border-radius: 8px !important;
        box-shadow: 0 0 0 0 !important;
    }

    .roomCard img {
        width: 60vw;
        height: calc(60vw * 0.73);
    }

    .bottomRoomCard {
        width: 60vw;
        height: calc(60vw * 0.70);
        align-items: flex-start;
        flex-direction: column;
        display: flex;
    }

    .bottomRoomCard h3 {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: var(--black);
        font-size: 3.5vw;
        margin: 0 8px 0 0;
        text-align: left;
    }

    .roomTextView {
        min-height: 12vw;
    }

    .bottomRoomCard h4 {
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        color: var(--gold-orange);
        font-size: 3.8vw;
        margin: 0;
    }

    .bottomRoomCard h4 span {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: var(--dark-grey);
        font-size: 2.3vw;
        margin: 0;
    }

    .bottomRoomCard .bottomIconView {
        flex-direction: row;
        align-items: center;
        display: flex;
        margin-top: 12px;
    }

    .bottomRoomCard .bottomIconView img {
        width: 3vw;
        height: 3vw;
        margin-right: 6px;
    }

    .bottomRoomCard .bottomIconView span {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 2.6vw;
        color: var(--dark-grey);
        opacity: 0.95;
    }

    .roomsContainer .carousel .slide {
        min-width: 65% !important;
    }
}