.modalContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    background-color: var(--modal-grey);
    box-shadow: var(--light-black) 0 8px 12px 0;
    padding: 10px;
    border-radius: 8px;
}

.modalContainer .closeIcon {
    width: 1.5vw;
    height: 1.5vw;
    opacity: 0.5;
    position: absolute;
    right: 10px;
}

.modalContainer .modalRowContainer {
    flex-direction: row;
    display: flex;
    margin-top: 2vw;
    margin-bottom: 1.2vw;
    justify-content: space-between;
    padding-left: 0.25vw;
    padding-right: 0.25vw;
}


.modalContainer .modalLeftContainer {
    width: 49%;
}

.modalLeftContainer h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: var(--black);
    font-size: 1.2vw;
    margin: 0;
    opacity: 0.95;
}

.modalLeftContainer p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 0.7vw;
    color: var(--black);
    margin-bottom: 0;
}

.modalLeftContainer .modalTimingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vw;
}

.modalLeftContainer .modalTimingContainer span {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--dark-grey);
    font-size: 0.75vw;
    margin-bottom: 8px;
}

.modalContainer .modalMainImg {
    width: 49%;
    height: calc(49% * 0.7);
    border-radius: 10px;
}

@media (max-width: 1000px) {
    .modalContainer {
        width: 75vw;
    }
    .modalContainer .closeIcon {
        width: 1.75vw;
        height: 1.75vw;
    }
    .modalContainer .modalRowContainer {
        margin-top: 2.5vw;
    }
    .modalLeftContainer h4 {
        font-size: 1.6vw;
    }
    .modalLeftContainer p {
        font-size: 1vw;
    }
    .modalLeftContainer .modalTimingContainer span {
        font-size: 1.1vw;
    }
}

@media (max-width: 650px) {
    .modalContainer {
        width: 70vw;
        padding: 8px;
    }
    .modalContainer .closeIcon {
        width: 3.5vw;
        height: 3.5vw;
    }
    .modalContainer .modalRowContainer {
        margin-top: 4.5vw;
        flex-direction: column-reverse;
        align-items: center;
    }
    .modalContainer .modalMainImg {
        width: 98%;
        height: calc(98% * 0.7);
        border-radius: 10px;
    }
    .modalContainer .modalLeftContainer {
        width: 90%;
        padding-top: 14px;
    }
    .modalLeftContainer h4 {
        font-size: 2.5vw;
        text-align: center;
    }
    .modalLeftContainer p {
        font-size: 1.75vw;
        text-align: center;
    }
    .modalLeftContainer .modalTimingContainer {
        margin-top: 2vw;
    }
    .modalLeftContainer .modalTimingContainer span {
        font-size: 1.8vw;
        margin-bottom: 4px;
    }
}